@CHARSET "ISO-8859-1";

body{
	background-color: #f0f3cc;
}

#banner{
	background-image: url("../images/logo_todo1.png");
	width: 60%;
    height: 70px;
    margin-left: 20%;
    background-size: inherit;
    background-position: center;
    background-repeat: no-repeat;
}

.tablaListas tr, th{
	border: 1px solid #000;
	background-color: #dbdccd;
}
	
.tablaListas tr:nth-child(odd) {
    background-color:#f2f2f2;
}
.tablaListas tr:nth-child(even) {
    background-color:#fbfbfb;
}
	
#menu{
	width: 100%;
	height: 40px; 
	float: left;
	text-align: center;
}
	
	#menuUsuarios{
		background-color: #e3e6b8;
		width: 25%;
		height: 35px; 
		float: left;
		padding-top: 5px;
	}
	#menuProducto{
		background-color: #ecefcd;
		width: 25%;
		height: 35px; 
		float: left;
		padding-top: 5px;
	}
	#menuInventario{
		background-color: #e3e6b8;
		width: 25%;
		height: 35px; 
		float: left;
		padding-top: 5px;
	}
	#menuTienda{
		background-color: #ecefcd;
		width: 25%;
		height: 35px; 
		float: left;
		padding-top: 5px;
	}
#botones{
	width: 100%;
	height: 60px; 
	float: left;
	text-align: center;
	cursor: pointer;
}
	
	.botonContenedor{
		width: 25%;
		height: 35px; 
		float: left;
		padding-top: 5px;
		padding-right: 1px;
	}
	
	.botonContenedor input{
		width: 100%;
	    height: 52px;
	    border: outset;
	    border-top-color: #e4b917;
	    border-left-color: #363f80;
	    border-bottom-color: #ce6878;
	    border-right-color: #919f6a;
	    cursor: pointer;
	}
	
	.botonContenedorVentas{
		width: 24%;
		height: 35px; 
		float: left;
		padding-top: 5px;
		padding-right: 1px;
	}
	
	.botonContenedorVentas input{
		width: 100%;
	    height: 52px;
	    border: outset;
	    border-top-color: #e4b917;
	    border-left-color: #363f80;
	    border-bottom-color: #ce6878;
	    border-right-color: #919f6a;
	    cursor: pointer;
	}
	
#contenedorUsuarios{
	width: 80%;
	height: 100%; 
	float: left;
	margin-left: 10%;
	margin-top: 2%;
	background-color: #e3e6b8;
}

#contenedorProductos{
	width: 80%;
	height: 300px; 
	float: left;
	margin-left: 10%;
	margin-top: 2%;
	background-color: #ecefcd;
}

#consultarProductos{
  	position: absolute;
  	top: 0;
  	width: 70%;
  	height: 250px; 
	margin-left: 15%;
	margin-top: 5%;
	background-color: #e3e6b8;
	border: 7px solid #ecdd90;
}